@{
    ViewData["Title"] = "Home Page";
}


<script src="~/js/Home.js"></script>
<div class="container">
    <div class="messaging">
        <div class="page-header">RoboSapiens</div>
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <!-- Ajax Generated HTML -->
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <!-- Ajax Generated HTML -->
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button"><i class="fab fa-telegram-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>